.page-not-found {
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-not-found h1 {
  font-size: 48px;
  text-align: center;
}
.page-not-found p {
  border: none;
  background-color: #000000;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 4px 2px;
  cursor: pointer;
  font-size: 24px;
}

@media (max-width: 405px) {
  .page-not-found h1 {
    font-size: 36px;
  }
  .page-not-found p {
    font-size: 12px;
  }
}
