.dashboard {
  display: flex;
  justify-content: center;
}
.dashboard h1 {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-container {
  background-color: white;
  padding: 100px 0;
  width: 80%;
}
.dashboard-summary {
  max-width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  margin: 20px;
}
.stats-box {
  width: 250px;
  height: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 100%;
}
.stats-box a {
  text-decoration: none;
  color: white;
}
.line-chart {
  max-width: 100%;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  
}
.doughnut-chart {
  width: 500px;
  height: 500px;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
}
@media (max-width: 1200px) {
  .dashboard {
    flex-direction: column;
  }
  .dashboard-container {
    width: 100%;
  }
}
