.dashboard {
  display: flex;
  justify-content: center;
}
.dashboard h1 {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-list-container {
  background-color: white;
  padding: 100px 0;
  width: 80%;
}
.product-list {
  max-width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  margin: 20px;
}
.product-list-table {
  background-color: white;
}

.product-list-table div {
  color: black;
}

.product-list-table a,
.product-list-table button {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.product-list-table a:hover {
  color: black;
}

.product-list-table button:hover {
  color: black;
}
@media (max-width: 1200px) {
  .dashboard {
    flex-direction: column;
  }
  .product-list-container {
    width: 100%;
  }
}
