@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.aboutSection {
  height: 80vh;
  width: 100vw;
  max-width: 100%;
 justify-content: center;
  display: flex;
  grid-template-columns: 4fr 4fr;
  /* position: inherit; */
  flex-direction: column;
  background-color: #c6b9a4;
  color: rgb(0, 1, 1);
}



.aboutSection > h1 {
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: rgb(9, 9, 9);
  margin: 2vmax;
  align-items: center;
  padding-left: 40%;
  padding-right: 40%;
  
  
  

}


.aboutSection > p {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}









@media screen and (max-width: 600px) {
  .aboutSectionContainer > div {
    display: block;
  }

  .aboutSectionContainer > h1 {
    font: 400 5vmax "Roboto";
    margin: 3vmax;
  }

 
}
