.profile-container {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #D9CAB3;
}
.profile-flex-horizontal {
  display: flex;
  width: 75%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
}
.profile-container h1 {
  font-size: 48px;
}
.profile-container p {
  font-size: 16px;
  margin: 20px;
}
.profile-container img {
  width: 250px;
  height: 250px;
}
.profile-container-left {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.profile-container-right {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-container-right div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.profile-redirect {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 710px) {
  .profile-flex-horizontal {
    flex-direction: column;
  }
}
