.CartItemCard {
  display: flex;
  padding: 20px;
  min-height: 10vh;
  align-items: center;
}
.CartItemCard > img {
  width: 100px;
  height: 120px;
}

.CartItemCard > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.CartItemCard > div > a {
  color: rgba(24, 24, 24, 0.815);
  text-decoration: none;
}

.CartItemCard > div > span {
  color: rgba(24, 24, 24, 0.815);
}

.CartItemCard > div > p {
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .CartItemCard {
    padding: 3vmax;
    height: 25vmax;
  }
  .CartItemCard > img {
    width: 50px;
    height: 70px;
  }
}
