.cart-page {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cart-header {
  background-color: black;
  width: 75%;
  min-height: 5vh;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 4fr 1fr 1fr;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
}
.cart-header p {
  margin: 20px;
}
.cart-header p:last-child {
  text-align: center;
}

.cart-container {
  width: 75%;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
}

.cart-input {
  display: flex;
  align-items: center;
}

.cart-input button {
  border: none;
  background-color: black;
  padding: 0.5vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.cart-input button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.cart-input input {
  border: none;
  outline: none;
  width: 15px;
  margin: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-subtotal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-gross-profit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0;
}

.cart-gross-profit-box {
  border-top: 3px solid tomato;
  margin: 1vmax 4vmax;
  box-sizing: border-box;
  padding: 2vmax 0;
  display: flex;
  justify-content: space-between;
}

#checkout-btn{
  margin: 0;
}

@media screen and (max-width: 600px) {
  .cart-page {
    padding: 0;
    min-height: 60vh;
  }

  .cart-header {
    width: 100%;
    font: 300 1.7vmax "Roboto";
    grid-template-columns: 3fr 1fr 1fr;
  }

  .cart-container {
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
  }

  .cart-input {
    height: 20vmax;
  }

  .cart-input > button {
    padding: 1.5vmax;
  }

  .cart-input > input {
    width: 2vmax;
    padding: 1.5vmax;
  }

  .cart-subtotal {
    padding: 1.5vmax;
    height: 20vmax;
  }

  .cart-gross-profit {
    display: grid;
    grid-template-columns: 0fr 2fr;
  }

  .cart-gross-profit-box {
    padding: 2vmax;
  }

  .check-out-btn > button {
    padding: 2vmax 4vmax;
    width: 100%;
  }
}
